<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>À Propos de Nous</title>
    <!-- Vous pouvez inclure des liens vers des fichiers CSS ou d'autres scripts ici -->
</head>
<body>
    <h1>À Propos de Nous</h1>

    <!-- Exemple d'intégration avec iframe pour Streamlit -->
    <iframe src="{% url 'streamlit_a_propos' %}" width="100%" height="600px" frameborder="0"></iframe>

    <!-- Autres contenus de votre page si nécessaire -->

</body>
</html>
